/Config/PluginKeys
/Config/Profiles/*.xml
/Downloads
/Help
/Icons
/lich
/Logs
/Maps
/Maps-main
/notes
/Plugins
/Plugins_disabled
/Sounds
*.DS_Store
*.txt
*.config
*.exe
*.dll
*.dat
*.ppk
backup.ppk
backup.pub
Genie.key
help.pdf
WinSCP.*