#class {afk} {False}
#class {analyze} {False}
#class {app} {False}
#class {arrive} {False}
#class {chatter} {True}
#class {circuit} {False}
#class {combat} {False}
#class {default} {True}
#class {disabled} {False}
#class {drx} {True}
#class {first_aid} {True}
#class {forest} {False}
#class {gonfi} {False}
#class {gonif} {False}
#class {gonifgag} {False}
#class {hhinvi} {False}
#class {hhvini} {False}
#class {highlight} {True}
#class {joust} {False}
#class {malchata} {True}
#class {mana} {False}
#class {racial} {True}
#class {rp} {True}
#class {ryken} {True}
#class {shortwounds} {False}
#class {silence} {False}
#class {spelltrack} {True}
#class {wounds} {False}
#class {zealots} {True}
